<link type="text/css" rel="stylesheet" href="/css/cookieNotice.css">
<div id="cookie-wrapper">
    <div id="cookie-bar">
        <p id="cookie-text"> This website uses cookies in order to keep you logged in and for personalised advertising purposes. </p>
        <div id="cookie-control">
            <button id="cookie-accept" class="btn-orange btn-short"> I consent </button>
            <button id="cookie-decline" class="btn-red btn-short"> I do not consent </button>
        </div>
    </div> 
</div>
<script src="/js/cookieNotice.js"></script>