<link type="text/css" rel="stylesheet" href="/css/cookieNotice.css">
<div id="cookiebar">
    <p> This website uses cookies in order to keep you logged in and for personalised advertising purposes. </p>
	<button id="acceptCookiesButton"> I consent </button>
	<button id="declineCookiesButton"> I do not consent </button>
</div> 