<div id="cookiebar">
        <p> This website uses cookies in order to keep you logged in and for personalised advertising purposes. </p>
	<button onclick="acceptCookies()"> I consent </button>
	<button onclick="declineCookies()"> I do not consent </button>
</div> 