<!DOCTYPE html>
<html>
    <head>
        <!-- Google Ads -->
        <script data-ad-client="ca-pub-8893005154186798" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">

        <!-- Global CSS Files-->
        <link type="text/css" rel="stylesheet" href="/css/utility.css">
        <link type="text/css" rel="stylesheet" href="/css/header.css">

        <!-- Website data-->
        <title>CrackedTyping</title>
        <link rel="icon" href="/img/cracked-icon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Keep script at bottom of <head> container to prevent flash of unstyled content -->
        <script>
            var username = '<%= username %>'
            var description = '<%= description %>'
        </script>
    </head>
    <body>
    <nav>
        <a class="brand-container" href="/">
            <img class="brand" src="/img/cracked-logo.svg">
        </a>

        <% if (loggedIn && admin) { %>
            <div class="control-container">
                <a href="/control" class="btn-short btn-red">Control</a>
            </div>
        <% } %>


        <div class="auth-container">
        <% if (loggedIn) { %>
            <div class="account-container account-container-logged-in">
                <div class="account-nav">
                    <%= username %>
                    <img src="<%= avatar %>" class="avatar-sm">
                </div>
                <div class="account-menu txt-sm">
                    <a class="account-tab" href="/auth/logout">Log out</a>
                </div>
            </div>
        <% } else { %>
            <span class="login-text">Log in:</span>
            <div class="login-container">
                <a href="/auth/google/login" class="btn-short btn-red btn-login txt-sm"><img src="/img/google-logo.svg" alt="G" class="logo logo-g">Google</a>
                <a href="/auth/github/login" class="btn-short btn-login txt-sm"><img src="/img/github-logo.svg" alt="G" class="logo logo-gh">Github</a>
            </div>
        <% } %>
        </div>
    </nav>
    <div class="container">