<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">  
        <link type="text/css" rel="stylesheet" href="/css/header.css">
	    <link type="text/css" rel="stylesheet" href="/css/cookienotice.css">
        <!-- Keep script at bottom of <head> container to prevent flash of unstyled content -->
        <script>var username = '<%= username %>'</script>
    </head>
    <body>
    <div class="navbar">
        <a href="/" class="brand">CrackedTyping</a>

        <% if (loggedIn) { %>
            <a href="/auth/logout" class="nav-button-right logout">Log out</a>
        <% } else { %>
            <div class="nav-button-right">
                <span id="login-text">Log in:</span>
                <a href="/auth/google/login" class="login-button google-button"><img src="/img/google-logo.svg" alt="G" class="login-logo google-logo">Google</a>
                <a href="/auth/github/login" class="login-button github-button"><img src="/img/github-logo.svg" alt="G" class="login-logo github-logo">Github</a>
            </div>
        <% } %>

    </div>

    <h2 class="current-login">Currently logged in as: <%= username %></h2>