<!DOCTYPE html>
<html>
    <head>

        <link type="text/css" rel="stylesheet" href="/css/header.css">

        <!-- Keep sript at bottom of <head> container to prevent flash of unstyled content -->
        <script>var username = '<%= username %>'</script>
    </head>
    <body>
    <div class="navbar-uwu">
        <a href="/" class="nav-button-left">
            CrackedTyping
        </a>



        <% if (loggedIn) { %>
            <a href="/auth/logout" class="nav-button-right">Log out</a>
        <% } else { %>
            <a href="/auth/google" class="nav-button-right">Log in</a>
        <% } %>


    </div>

    <h2 class="current-login">Currently logged in as: <%= username %></h2>