<!DOCTYPE html>
<html>
    <head>
        <script data-ad-client="ca-pub-8893005154186798" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">  
        <link type="text/css" rel="stylesheet" href="/css/header.css">
        
        <!-- Keep script at bottom of <head> container to prevent flash of unstyled content -->
        <script>
            var username = '<%= username %>'
            var description = '<%= description %>'
        </script>
    </head>
    <body>
    <nav>
        <a href="/" class="brand"><span id="cracked">Cracked</span>Typing</a>
        <% if (loggedIn) { %>
            <a href="/auth/logout" class="logout">Log out</a>
        <% } else { %>
            <div class="login-container">
                <span id="login-text">Log in:</span>
                <a href="/auth/google/login" class="login-btn login-google"><img src="/img/google-logo.svg" alt="G" class="logo logo-google">Google</a>
                <a href="/auth/github/login" class="login-btn login-github"><img src="/img/github-logo.svg" alt="G" class="logo logo-github">Github</a>
            </div>
        <% } %>
    </nav>

    <h2 id="current-login">Currently logged in as: <%= username %></h2>
    <div class="container">