<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/css/account.css" type="text/css">
<link rel="stylesheet" href="/css/accountSettings.css" type="text/css">

<form action="/account/updateAccount" method="POST" id="account-form" enctype="multipart/form-data">
    <input type="file" name="avatar" id="avatar-upload" accept="image/*">
    <div class="header-container">
        <div class="user-container">
            <label for="avatar-upload">
                <img src="<%= user.avatar %>" class="avatar" id="js-avatar">
            </label>
            <div class="user-information">
                <div class="input-row">
                    <input class="username  username-input" type="text" value="<%= user.username %>" name="username" autocomplete="off">
                    <span id="username-status"></span>
                </div>
                <div class="input-row">
                    <input class="description description-input" type="text" value="<%= user.description %>" name="description" autocomplete="off">
                    <span id="description-status"></span>
                </div>
            </div>
        </div>
        <a id="account-btn" href="/account">Account</a>
    </div>
    <div class="information-container">
        <div class="information-row">
            <% if (!loggedInGoogle) { %>
                <p>Google not linked: <a href="/auth/google/login" class="strategy-btn">LINK</a></p>
            <% }  else { %>
                <p>Googled linked:
                    <% if (loggedInGithub) { %>
                        <a href="/auth/google/unlink" class="strategy-btn">UNLINK</a>
                    <% } else { %>
                        ONLY LOGIN
                    <% } %>
                </p>
            <% } %>
            <% if (!loggedInGithub) { %>
                <p>Github not linked: <a href="/auth/github/login" class="strategy-btn">LINK</a></p>
            <% } else { %>
                <p>Github linked: 
                    <% if (loggedInGoogle) { %>
                        <a href="/auth/github/unlink" class="strategy-btn">UNLINK</a>
                    <% } else { %>
                        ONLY LOGIN
                    <% } %></p>
            <% } %>
        </div>
    </div>
</form>
<form id="delete-form" method="POST" action="/account/delete"></form>
<div class="information-row control-row">
    <button id="save-btn" type="submit" form="account-form">Save profile</button>
    <button id="delete-btn" type="submit" form="delete-form">Delete account</button>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/accountSettings.js"></script>
<% include('partials/footer.ejs') %>