<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/css/landing.css" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap">

<!--
    There are two containers over here, left and right.

    -- Left is "games-container" and will have gamemodes,
    currently it is only "Join Game" (game-card)

    -- Right is "account-container" since the locations are
    personalized to you and you need to be logged in,
    the locations are: "Account" (account-card) and "Stats" (stats-card)
-->

<div class="gamemode-row">
    <div class="gamemode-column margin-right">
        <div class="gamemode-column margin-bottom">
            <a class="card" href="/control/users">
                <div class="card-body">
                    <h1 class="card-title">List Users</h1>
                    <p class="card-description">Add or remove user's admin</p>
                </div>
            </a>
        </div>
        <div class="gamemode-column margin-top">
            <a class="card" href="/control/contributions">
                <div class="card-body">
                    <h1 class="card-title">Contribution Control</h1>
                    <p class="card-description">Accept / Deny submissions </p>
                </div>
            </a>
        </div>
    </div>
    <div class="gamemode-column margin-left">
        <div class="gamemode-column margin-bottom">
            <a class="card account-card" href="/control/texts">
                <div class="card-body">
                    <h1 class="card-title">Text Managment</h1>
                    <p class="card-description">Created/Edit/Delete texts</p>
                </div>
            </a>
        </div>
        <div class="gamemode-column margin-top">
            <a class="card account-card" href="/control/scripts">
                <div class="card-body">
                    <h1 class="card-title">Script Managment</h1>
                    <p class="card-description">Created/Edit/Delete scripts</p>
                </div>
            </a>
        </div>
    </div>
</div>

</div>
<%- include('partials/footer.ejs') %>