<%- include('partials/header.ejs') %>
<style>
    .error {
        background-color: red;
    }
    .currentWord {
        background-color: black;
        color: white;
    }
</style>
<p>Game info:</p>
<p id="gameIdElement" style="margin: 0">ID: <%= game.id %></p>
<p style="margin: 0">Total Times Typed: <%= game.text.totalTimesTyped %></p>
<p id="gameStatusElement" style="margin: 0"></p>
Players:
<ul id="playerListElement">
</ul>

<p id="gamePassageElement"></p>
<input autofocus autocomplete="off" id="gameTextInput" type="text">

<!-- Keep scripts in this order (socket.io on top)-->
<script src="/socket.io/socket.io.js"></script>
<script>
    // TODO: Prevent XSS attacks using custom usernames
    var game = JSON.parse('<%- gameJSON %>')
</script>
<script src="/js/game.js"></script>