<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/css/game.css" type="text/css">
<p id="info-text">Game info:</p>
<div id="info-container">
    <div id="game-stats">
        <p id="js-text-info" style="margin: 0"></p>
        <p id="js-status" style="margin: 0">Starting in: </p>
    </div>
    <div id="players-container">
        <p id="playersText">Players:</p>
        <ul id="player-list"></ul>
    </div>
</div>

<%- include('partials/gameEngine.ejs') %>
<script src="/js/game.js"></script>
<%- include('partials/footer.ejs') %>