<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/css/infinite.css" type="text/css">
<div class="engine-wrapper">
    <%- include('partials/gameEngine.ejs') %>
</div>

<!-- Keep scripts in this order (socket.io on top)-->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/infinite.js"></script>
<%- include('partials/footer.ejs') %>