<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/css/landing.css" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap">

<!--
    There are two containers over here, left and right.

    -- Left is "games-container" and will have gamemodes,
    currently it is only "Join Game" (game-card)

    -- Right is "account-container" since the locations are
    personalized to you and you need to be logged in,
    the locations are: "Account" (account-card) and "Stats" (stats-card)
-->

<div class="games-container" >
    <a class="card game-card" href="/game">
        <div class="card-body">
            <div class="card-title">Join Game</div>
            <div class="card-description">Continue the typing grind</div>
        </div>
    </a>
</div>
<div class="account-container">
    <% if (!loggedIn) { %>
        <div class="locked-container zindex-3">
            <a class="locked-text">
                Login to access these menus
            </a>
        </div>
    <% } %>
    <a class="card account-card" href="/account">
        <div class="card-body">
            <div class="card-title">Account</div>
            <div class="card-description">Go to your profile</div>
        </div>
    </a>
    <a class="card stats-card unreleased-card">
        <div class="locked-container">
            <p class="locked-text">Comming soon</p>
        </div>
        <div class="card-body">
            <div class="card-title">Stats</div>
            <div class="card-description">Explore global statistics</div>
        </div>
    </a>
</div>



</div>
<%- include('partials/footer.ejs') %>