<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/css/landing.css" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap">

<div class="gamemode-row">
    <div class="gamemode-column margin-right" >
        <a class="card card-game margin-bottom" href="/casual">
            <h1 class="txt-lg">Casual</h1>
            <p class="txt-sm">Play against players online</p>
        </a>
        <a class="card card-infinite margin-top" href="/infinite">
            <h1 class="txt-lg">Infinite</h1>
            <p class="txt-sm">Grind away in a infinite typing cycle</p>
        </a>
    </div>
    <div class="gamemode-column margin-left">
        <div class="gamemode-column margin-bottom">
            <% if (!loggedIn) { %>
                <div class="locked-container">
                    <p>
                        Login to access these options
                    </p>
                </div>
            <% } %>
            <div class="gamemode-row margin-bottom">
                <a class="card card-account margin-right<% if (!loggedIn) { %> locked-card"<% } else { %>" href="/account"<% } %>>
                    <h1 class="txt-lg">Account</h1>
                    <p class="txt-sm">Go to your profile</p>
                </a>
                <a class="card card-keybinds margin-left<% if (!loggedIn) { %> locked-card"<% } else { %>" href="/keybinds"<% } %>>
                    <h1 class="txt-lg">Keybinds</h1>
                    <p class="txt-sm">Configure website shortcuts</p>
                </a>
            </div>
            <div class="gamemode-row margin-top">
                <div class="gamemode-row">
                    <a class="card card-contribute"<% if (!loggedIn) { %> locked-card"<% } else { %>" href="/contribute"<% }%>>
                        <h1 class="txt-lg">Contribute</h1>
                        <p class="txt-sm">Help grow the website</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="gamemode-column margin-top">
            <div class="gamemode-row">
                <a class="card card-stats" href="/stats">
                    <h1 class="txt-lg">Stats</h1>
                    <p class="txt-sm">Explore global statistics</p>
                </a>
            </div>
        </div>
    
        <!--
        <a class="card stats-card unreleased-card">
            <div class="locked-container">
                <p class="locked-text">Coming soon</p>
            </div>
            <div class="card-body">
                <div class="txt-lg">Stats</div>
                <div class="txt-sm">Explore global statistics</div>
            </div>
        </a>
        -->
    </div>
</div>

</div>
<%- include('partials/footer.ejs') %>