<%- include('partials/header.ejs') %>
<% var totalWPM = 0; for (var game of pastGames)  { totalWPM+= game.wpm } %>

<p>Username: <%= username %></p>
Average WPM: <%= (Math.round(totalWPM / pastGames.length) ? Math.round(totalWPM / pastGames.length) : "No games found!") %><br>
<% if (!loggedInGoogle) { %>
    <p>Google not linked: <a href="/auth/google">LINK IT</a></p>
<% }  else { %>
    <p>Googled linked</p>
<% } %>
<% if (!loggedInGithub) { %>
    <p>Github not linked: <a href="/auth/github">LINK IT</a></p>
<% } else { %>
    <p>Github linked</p>
<% } %>
<%- include('partials/footer.ejs') %>