.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    
}

.user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.user-information {
    display: flex;
    flex-direction: column;
}

#avatar {
    position: relative;
}

.username, .description {
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 1px 5px;
    margin: 3px 0;
}

.username {
    margin-left: 20px;

    color: var(--orange);
    font-size: 2rem;
}

.description {
    color: white;
    font-size: 1.1rem;
}

#settings-btn {
    margin-right: 1vw;
    padding: 7px;
    color: white;
    background-color: transparent;
    border: var(--orange) solid 2px;
    border-radius: 10px;
    text-decoration: none;

    font-size: 1.1rem;
}

.information-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.information-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1rem;
    margin: 10px 0;
}