/*
Avatar
*/

label {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 70px;
    width: 70px;
    
    border-radius: 50%;
}

/* Edit and darken effect on avatar hover */
label:hover {
    cursor: pointer;
}

label:hover::after {
    position: absolute;
    
    font-size: 1.2rem;
    color: white;


    content: "Edit";
    opacity: 1;
    z-index: 3;
}

label:hover > .avatar {
    opacity: 0.2;
}


/* Label replaces default file upload*/
input[type="file"] {
    display: none;
}

/*
Username and description
*/

.input {
    border: 2px solid var(--orange);

    background-color: transparent;
}

.input:focus {
    outline: none;
}

.input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#username-status, #description-status {
    margin-left: 10px;
    font-size: 0.9rem;
}

.input-modified {
    border: 2px solid red;
    color: white;
}


/* Save profile and delete account btns*/
.control-row {
    margin-top: auto;
}