/*
Account header
(username, description, and avatar)
*/

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
    padding-bottom: 5px;

    border-bottom: 1px solid white;
    
}

.user-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    height: 100%;
}

.user-information {
    display: flex;
    flex-direction: column;
}

.username, .description {
    margin: 3px 0;
    padding: 1px 5px;

    /* Create invisible border so text doesn't get displaced when switching over to settings */
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.username {
    margin-left: 20px;

    font-size: 2rem;
    color: var(--orange);
}

.description {
    font-size: 1.1rem;
    color: white;
}

/*
Account information)
(statistics)
*/

.information-container {
    display: flex;
    flex-direction: column;
    
    height: 100%;
}

.information-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin: 10px 0;

    font-size: 1rem;
}

/* Used in accountSettings */
.information-row * {
    text-decoration: none;
}