#text-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

#text-form button {
    margin-top: auto;
    margin-bottom: 5vh;
}

.text-container {
    display: flex;
    flex-direction: row;
    align-items: start;

    max-height: 85%;
    width: 100%;

    flex-wrap: wrap;
    overflow-y: scroll;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    width: 100%;

    margin: 10px 0;
}

.text textarea {
    height: 100%;
    width: 85%;
}

.delete-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 10%;
}

#create-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#create-form textarea {
    height: 100%;
    width: 80%;
}