#text-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;

    margin: 10px;
}

#text-form textarea {
    height: 50%;
    width: 100%;
}

#text-form button {
    margin-top: auto;
}