#engine-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}

#engine-box {
    display: flex;
    align-items: center;

    height: 100%;

    padding: 1%;
    
    border: none;

    font-size: 1.4rem;
    line-height: 1.8rem;
    color: rgb(167, 156, 156);

    overflow-y: hidden;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#engine-passage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
}

#engine-input {
    position: absolute;

    width: 0%;

    padding: 10px;

    outline: 0;
    border: none;
    background-color: black;
    color: var(--green);

    opacity: 0;
}

.cursor {
    position: absolute;
    display: block;

    top: 0;
    left: 0;

    height: 0;
    width: 1px;

    background-color: white;
}

#alert {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    top: 160px;

    height: 100px;
    width: 100px;

    padding: 20px;

    border-radius: 15px;

    font-size: 2rem;
    background-color: var(--darker-background);
    color: var(--orange);

    opacity: 0;

    transition: opacity 0.2s linear;
}

word {
    display: flex;
    flex-direction: row;

    height: 1.8rem;
}

letter {
    display: block;

    height: 1.8rem;
}

letter.correct {
    color: var(--orange);
 }

letter.incorrect {
    text-decoration: line-through;
    color: red;
}