/*
ENGINE
*/

#engine-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    height: 100%;
    width: 100%;

    padding: 20px;

    box-sizing: border-box;
}

#engine-passage-wrapper {
    height: 100%;
}

#engine-passage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
    justify-content: start;

    height: 100%;

    overflow-y: hidden;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#engine-input {
    position: absolute;
    
    top: -200px;

    height: 5px;
    width: 5px;

    padding: 10px;

    opacity: 1;
    outline: 0;
    border: none;
}

/*
WORDS AND LETTERS
*/

word {
    display: flex;
    flex-direction: row;

    height: 1.8rem;

    margin: 10px 0;
    padding: 10px 0;

    border-bottom: 1px dashed darkgray;

    font-size: 1.6rem;
    line-height: 1.8rem;

    box-sizing: content-box;
}

letter {
    display: block;

    height: 1.8rem;

    color: var(--green);
}

letter.correct {
    color: var(--orange);
 }

letter.incorrect {
    text-decoration: line-through;
    color: red;
}

/*
MISC
*/

.cursor {
    position: absolute;
    display: block;

    top: 0;
    left: 0;

    height: 0;
    width: 2px;

    background-color: white;
}

.other-cursor {
    border-color: gray !important;
}

#alert {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    top: 160px;

    height: 100px;
    width: 100px;

    padding: 20px;

    border-radius: 15px;

    opacity: 0;
    font-size: 2rem;
    background-color: var(--darker-background);
    color: var(--orange);

    transition: opacity 0.2s linear;
}