* {
    margin: 0;
    padding: 0;

    --green: #17e22f;
    --orange: #f8b600;
    --hilighted-orange: #ffc62a;
    --darker-orange: #d89400;

    --background: rgb(79, 94, 109);
    --darker-background: rgb(36, 43, 49);
    --darkest-background: rgb(5, 7, 9);

    --primary-background: rgb(27, 33, 38);
    --secondary-background: rgb(14, 18, 22);
    --nav-background: rgb(14, 18, 22);

    font-family: 'Open Sans', sans-serif;

    box-sizing: border-box;
}

html {
    height: 100%;

    font-size: 16px;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;

    background-image: linear-gradient(to top right, var(--darker-background), var(--background));
    color: rgb(189, 189, 189);
}

/*
  Navbar
*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 60px;
    width: 100%;

    border-bottom: 2px solid var(--green);

    background-color: var(--nav-background);
}

nav > * {
    height: 100%;
    width: 360px;
}

.brand-container, .control-container, .auth-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.brand-container {
    justify-content: left;
}

.brand {
    padding: 10px 10px;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 30px;
    color: white;
}

.brand-cracked {
    margin-right: 3px;

    border-radius: 3px;

    background-color: #2dd410;
    letter-spacing: 2px;
}

.control-btn {
    padding: 5px 10px;

    border: 1px solid red;
    border-radius: 10px;

    font-size: 1.6rem;
    text-decoration: none;
    color: white;
}

/*
  Auth
*/

.auth-container {
    justify-content: space-between;
}

/*
  Auth (Logged in)
*/

.nav-account {
    width: 150px;

    margin-right: 20px;
    margin-left: auto;
}

.nav-account-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    padding: 5px 10px;
    
    border-radius: 10px;

    font-size: 1.4rem;
    background-color: var(--darker-orange);
    color: white;

    z-index: 2;
}

.nav-account-card:hover {
    cursor: pointer;
}

.nav-account-info {
    position: absolute;

    width: 150px;

    margin-right: 20px;
    margin-left: auto;
    padding-top: 15px;

    top: 30px;

    border-radius: 10px;

    background-color: var(--orange);

    opacity: 0;
}

.account-tab {
    display: block;

    width: 100%;

    padding: 6px 12px;

    border-top: 1px solid white;
    border-bottom: 1px solid white;

    text-decoration: none;
    font-weight: 900;
    background-color: var(--hilighted-orange);
    color: white;
}

.account-tab:hover {
    cursor: pointer;
    background-color: var(--orange);
}

.account-tab:first-child {
    padding-top: 20px;

    border-top: none;
}

.account-tab:last-child {
    border-bottom: none;
    border-radius: 0 0 10px 10px;
}

.nav-account-card, .account-tab {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
  Auth (Logged out)
*/

#auth-login-text {
    font-weight: 900;
    font-size: 1.2rem;
}

#auth-strategies {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 80%;
}

.login-btn {
    display: flex;
    align-items: center;

    height: 40px;

    padding: 10px;
    
    border: 2px solid white;
    border-radius: 10px;

    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.login-google {
    border-color: red;
}

.login-github {
    border-color: white;
}

.logo {
    max-height: 100%;
}

.login-google .logo {
    padding-right: 0.7vw;
    padding-top: 1px;
}

.login-github .logo {
    padding-right: 0.7vw;
}

/*
  Body
*/

.container {
    display: flex;
    flex-direction: column;
    align-self: center;

    margin: 0 auto;
    padding: 30px;
    
    height: 625px;
    max-height: 90%;
    min-height: 60%;
    width: 1200px;
    max-width: 90%;

    border: 5px solid var(--secondary-background);
    border-top: none;

    font-size: 1rem;
    background-color: var(--primary-background);
    color: var(--green);
}

/*
  Global Utility Classes
*/

.avatar, .avatar-sm {
    border: 3px solid red;
    border-radius: 50%;
}

.avatar {
    height: 70px;
    width: 70px;
}

.avatar-sm {
    height: 35px;
    width: 35px;

    border-width: 1.5px;
}

.btn:hover {
    background-color: var(--darkest-background);
}