* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    height: 100%;

    font-size: 16px;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;

    background-image: linear-gradient(to top right, var(--darker-background), var(--background));
    color: white;
}

/*
  Navbar
*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 60px;
    width: 100%;

    border-bottom: 2px solid var(--green);

    background-color: var(--nav-background);
}

nav > * {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 360px;
}

.brand-container {
    justify-content: left;
}

.brand {
    height: 75%;

    margin-left: 20px;
}

/*
  Auth
*/

.auth-container {
    justify-content: space-between;
}

/*
  Auth (Logged in)
*/

.account-container {
    min-width: 150px;

    margin-right: 20px;
    margin-left: auto;
}

.account-container-logged-in {
    /*
    If the user is logged in start the username alignment
    at the end so it's pushed onto the screen
    */

    display: flex;
    justify-content: end;
}

.account-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    width: fit-content;
    width: -moz-fit-content;

    padding: 5px 10px;
    
    border-radius: 5px;

    font-size: 1.5rem;
    background-color: transparent;
    color: white;

    z-index: 2;
}

.account-nav:hover {
    cursor: pointer;
}

.account-menu {
    display: none;
    position: absolute;

    top: 60px;

    width: 150px;

    margin-right: 20px;
    margin-left: auto;

    z-index: 2;
}

.account-tab {
    display: block;

    width: 100%;

    padding: 6px 12px;

    text-decoration: none;
    background-color: var(--nav-background);

    color: white;
}

.account-tab:hover {
    cursor: pointer;
    background-color: var(--account-tab-hover);
}

.account-tab:last-child {
    border-radius: 0 0 10px 10px;
}

.account-menu, .account-tab {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
  Auth (Logged out)
*/

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 80%;
}

.login-text {
    font-size: 1.2rem;
    font-weight: 900;
    color: rgb(189, 189, 189);
}

.btn-login {
    display: flex;
    align-items: center;

    height: 40px;

    padding: 10px;

    border-width: 2px;

    text-decoration: none;
}

.logo {
    height: 100%;

    padding-right: 0.7vw;
}

.logo-g {
    padding-top: 1px;
}

/*
  Body
*/

.container {
    display: flex;
    flex-direction: column;
    align-self: center;

    margin: 0 auto;
    padding: 40px;
    padding-top: 50px;

    height: 600px;
    max-height: 90%;
    min-height: 60%;
    width: 1300px;
    max-width: 90%;

    border: 5px solid var(--container-outline);
    border-top: none;

    font-size: 1rem;
    background-color: var(--container-background);
    color: var(--green);
}