#game-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 100%;
}

#engine-container {
    height: 100%;
    width: 20%
}

#engine-passage {
    height: 10%;

    margin-top: 0 !important;
}