* {
    margin: 0;
    padding: 0;
    --color: rgb(47, 255, 141);
    --background: rgb(53, 64, 75);
    --darker-background: rgb(16, 21, 26);
}

.padding-left-10 {
    padding-left: 10px;
}
.profile-container-flex {
    display: flex;
    justify-content: center;
    width: 100%;
}

.profile-container {
    width: 70%;
    background-color: var(--darker-background);
    border: solid 2px var(--color);
}

.username-container {
    display: flex;


}

.profile-picture-container {
    height: 100px;
    width: 20%;
    border-right: solid 2px var(--color);
}
.user {
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.username{
    width: 100%;
    height: 50px;
    border-bottom: solid 2px var(--color);
    color: var(--color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

.username-update {
    width: 100%;
    height: 50px;
    display: flex;

}

#changeUsernameForm {
    width: 100%;
    height: 50px;
    display: flex;

}

.username-change {
    border: none;
    width: 70%;
    height: 100%;
    background-color: (var(--background));
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
}

#changeUsernameButton {
    width: 30%;
    height: 100%;
    border: none;
    background-color: var(--color);
    font-family: 'Roboto Mono', monospace;
}